@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<div>
    <h1>Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>                
                <th>
                    Username
                </th>
                <th>
                    Role
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserViewModel item in Model)
            {
            <tr>
                <td>
                        <a class="user__name" asp-action="Details" asp-route-id="@item.User.Id">@item.User.FirstName @item.User.LastName</a>
                </td>                
                <td>
                        <a class="user__email" asp-action="Details" asp-route-id="@item.User.Id">@item.User.Email</a>
                </td>
                <td>
                        @foreach(string role in item.Roles)
                        {
							<span>@role </span>
                        }
                    </td>
                <td>
                        <a class="btn btn-link" asp-action="EditRole" asp-route-id="@item.User.Id">Edit Roles</a>
                </td>                
                <td>
                        <a class="btn btn-link" asp-action="Edit" asp-route-id="@item.User.Id">Edit Details</a>
                </td>
                <td>
                        <form asp-action="Delete" asp-route-id="@item.User.Id">
                            <input type="hidden" asp-for="@item.User.Id" />
                            <input type="submit" value="Delete User" class="btn btn-link" />
                    </form>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
