@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Users";
}

<div>
    <h1>Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>                
                <th>
                    Username
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (ApplicationUser user in Model) {
            <tr>
                <td>
                        <a class="user__name" asp-action="Details" asp-route-id="@user.Id">@user.FirstName @user.LastName</a>
                </td>                
                <td>
                        <a class="user__email" asp-action="Details" asp-route-id="@user.Id">@user.Email</a>
                </td>
                <td>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id">
                        <input type="hidden" asp-for="@user.Id" />
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                    </form>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
