@model LibraryWebApp.Models.Book

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex" >
    <div class="flex-shrink-0 p-3 bg-white sidebar">
        <p>
            <a asp-action="Index">Back to List</a>
        </p>
        <br />
        <ul class="list-unstyled ps-0"></ul>
    </div>

    <div class="row p-3">
        <div class="col-sm-2">
            <img src="@Html.DisplayFor(model => model.CoverImageUrl)" class="card-img-top" alt="@Html.DisplayFor(model => model.Title) cover">
        </div>
        <div class="col-sm-10">
            <h4>
                @Html.DisplayFor(model => model.Title)
            </h4>
            <div>
                by @Html.DisplayFor(model => model.Author)
            </div>
            <br />
            <div>
                <span class="fw-bold">Release date: </span>@Html.DisplayFor(model => model.ReleaseDate)
            </div>
            <br />
            <div>
                <span class="fw-bold">Genre: </span>@Html.DisplayFor(model => model.Genre)
            </div>
            <br />
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.Description):
            </div>
            <br />
            <div>
                @Html.DisplayFor(model => model.Description)
            </div>
            <br/>
            <div>
                @if (User.IsInRole("Administrator") || User.IsInRole("Librarian"))
                {
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                }
                else
                {
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Borrow</a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Place a Hold</a>
                }
            </div>
        </div>
    </div>
</div>