@model LibraryWebApp.Models.Book

@{
    ViewData["Title"] = "Borrow";
    DateOnly leaseProjectedEndDate = DateOnly.FromDateTime(DateTime.Now).AddDays(14);
}

<div class="d-flex" >
    <div class="flex-shrink-0 p-3 bg-white sidebar">
        <p>
            <a asp-action="Index">All Books</a>
        </p>
        <br />
        @if (User.IsInRole("User"))
        {
            <ul class="list-unstyled ps-0">
                <li>
                    <a asp-action="MyBooks">My Books</a>
                </li>
                <li>
                    <a asp-action="MyHistory">History</a>
                </li>
                <li>
                    <a asp-action="MyWaitingList">Waiting List</a>
                </li>
            </ul>
        }
    </div>
    <div class="p-3">
        <div class="row">
            <div class="col-sm-2">
                <img src="@Html.DisplayFor(model => model.CoverImageUrl)" class="card-img-top" alt="@Html.DisplayFor(model => model.Title) cover">
            </div>
            <div class="col-sm-10">
                <h4>
                    @Html.DisplayFor(model => model.Title)
                </h4>
                <div>
                    by @Html.DisplayFor(model => model.Author)
                </div>
                <br />
                <div class="fw-bold">
                    You can borrow this book now for up to 14 days. It will be delivered to your Kindle reading app and automaticall returned on <span class="text-success">@leaseProjectedEndDate</span>
                </div>
                <br />
                <form asp-action="Lend">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Borrow Now" class="btn btn-success" />
                    <input class="btn btn-primary" type="button" onclick="history.go(-1)" value="Go Back" />
                </form>
            </div>
        </div>
    </div>
</div>