@model IEnumerable<LibraryWebApp.Models.Book>

@{
    ViewData["Title"] = "My Books";
}

<div class="flex-grow-1 row row-cols-1 row-cols-md-4 g-4 p-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@Html.DisplayFor(modelItem => item.CoverImageUrl)" class="card-img-top" alt="@Html.DisplayFor(modelItem => item.Title) cover">
                <div class="card-body">
                    <h5 class="card-title text-truncate">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">by @Html.DisplayFor(modelItem => item.Author)</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">
                        <a class="stretched-link" asp-action="Details" asp-route-id="@item.Id"></a>
                        <a class="btn btn-success" asp-action="ReturnBook" asp-route-id="@item.Id">Return</a>
                    </small>
                </div>
            </div>
        </div>
    }
</div>