@model IEnumerable<LibraryWebApp.Models.WaitingListItem>

@{
    ViewData["Title"] = "Waiting List";
}

<div class="flex-grow-1 row row-cols-1 row-cols-md-4 g-4 p-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@Html.DisplayFor(modelItem => item.Book.CoverImageUrl)" class="card-img-top" alt="@Html.DisplayFor(modelItem => item.Book.Title) cover">
                <div class="card-body">
                    <h5 class="card-title text-truncate">@Html.DisplayFor(modelItem => item.Book.Title)</h5>
                    <p class="card-text">by @Html.DisplayFor(modelItem => item.Book.Author)</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">
                        <a class="stretched-link" asp-action="Details" asp-route-id="@item.Id"></a>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Librarian"))
                        {
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        else
                        {
                            <form asp-action="RemoveHold" asp-route-id="@item.Id">
                                <input type="submit" value="Remove Hold" class="btn btn-danger" />
                            </form>
                        }
                    </small>
                </div>
            </div>
        </div>
    }
</div>