@model List<LibraryWebApp.Data.LendingHistory>

@{
    ViewData["Title"] = "Open Leases";
}

<div>
    <h1>Open Leases</h1>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Book Name</th>
                <th scope="col">Author</th>
                <th scope="col">User</th>
                <th scope="col">Start Date</th>
                <th scope="col">Projected End Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
                @{
                    int i = 1;
                }
                @foreach(var item in Model.ToList())
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@item.Book.Title</td>
                        <td>@item.Book.Author</td>
                        <td>@item.User.FirstName @item.User.LastName</td>
                        <td>@item.LeaseStartDate</td>
                        <td>@item.LeaseProjectedEndDate</td>
                    <td>
                        <form asp-action="EndLease" asp-route-id="@item.Id">
                            <input type="hidden" asp-for="@item.Id" />
                            <input type="submit" value="End Lease" class="btn btn-link" />
                        </form>
                    </tr>
                    i++;
                }

        </tbody>
    </table>
    <br/>
    <div>
        <form asp-action="EndExpiredLeases">
            <input type="submit" value="End All Expired Leases" class="btn btn-success" />
        </form>
    </div>
</div>